.chat_section {
    padding-top: 36px;
    width: 1200px;
    height: 100vh;
    margin: 0 auto;

}

.chat_wrapper {
    width: 860px;
    height: 680px;
    margin: 0 auto;
    display: flex;
    box-shadow: 0px 0px 10px 2px rgb(234, 234, 234);
}

.aside {
    background-color: aliceblue;
    width: 380px;
    padding: 20px;
}

.users_online {
    font-size: 20px;
    margin-bottom: 32px;
}

.user {
    padding: 12px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0px 0px 6px 2px rgb(234, 234, 234);
}

.chat {
    padding: 20px;

}

.messages_list {
    display: flex;
    flex-direction: column;
    gap: 24px;

    height: 460px;
    margin-bottom: 32px;
    border-bottom: 1px solid rgb(145, 145, 145);
}

.message_wrapper {
    padding: 12px;
    background-color: rgb(97, 78, 188);
    border-radius: 12px;
    margin-bottom: 8px;
}

.message_text {
    color: white;
}

.message_author {
    font-size: 12px;
    color: rgb(66, 66, 66);
}

.input_area {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.textarea {
    font-size: 20px;
    padding: 12px;
    caret-color: black;

}


.textarea:focus-within {
    outline: none;
}

.send_btn {
    padding: 8px 12px;
    width: 140px;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(20, 99, 210);
}